<?xml version="1.0"?>
<robot name="vi_car" 
	xmlns:xacro="http://www.ros.org/wiki/xacro">

	
	<xacro:macro name="fixed_part" params="name parent linktype rpy xyz">
		<link name="${name}">
		</link>
		<joint name="${parent}_to_${name}" type="${linktype}">
  			<parent link="${parent}"/>
			<child link="${name}"/>
			<origin rpy="${rpy}" xyz="${xyz}" />
		</joint>
	</xacro:macro>
	<!-- Vehicle coordinate system origin (center of rear axle projected on ground) -->

	<link name="world" />
	<xacro:fixed_part name="odom" parent="world" linktype="fixed" rpy="0 0 0" xyz="0 0 0" />
	<xacro:fixed_part name="base_link" parent="odom" linktype="fixed" rpy="0 0 0" xyz="0 0 0" />
	<xacro:fixed_part name="imu0" parent="base_link" linktype="fixed" rpy="0 0.0 0" xyz="0.0 0.0 0.0" />
	<xacro:fixed_part name="cam0" parent="imu0" linktype="fixed" rpy="-0.0028895 -0.0060405 -0.0119493" xyz="3.8836925129605959e-02 -4.7406823518464092e-03 -3.5997702822723361e-03" />
	
</robot>
