<launch>
  <arg name="log_data" default="false"/>
  <arg name="log_folder" default="/home/mikolaj/Projects/catkin_vins/results/kaist_urban/urban-39/test2" />

  <!-- Launch rviz and tf frames -->
  <arg name="rvizconfig" default="$(find odom_publisher)/../../rviz/kaist_dataset.rviz" />
  <node name="rviz_vins" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"  />
  <arg name="model" default="$(find odom_publisher)/../../urdf/kaist_car.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Animate the model in rviz by publishing its tf -->
  <node name="odom_publisher" type="publisher.py" pkg="odom_publisher">
      <remap from="/odom" to="/vins_estimator/odometry" />
  </node>

  <!-- Log to csv -->
  <group if="$(eval arg('log_data'))">
    <node name="vins_features_logger" type="tracked_features_logger.py" pkg="data_logging">
        <remap from="/tracked_features" to="/vins_estimator/tracked_features" />
        <param name="log_filename" value="$(arg log_folder)/features.csv" />
    </node>
    <node name="vins_odom_logger" type="odom_logger.py" pkg="data_logging">
        <remap from="/odom" to="/vins_estimator/odometry" />
        <param name="log_filename" value="$(arg log_folder)/vins_odom.csv" />
        <param name="transform_vel_to_odom" value="true" />
    </node>
    <node name="vins_bias_logger" type="bias_logger.py" pkg="data_logging">
        <remap from="/bias" to="/vins_estimator/estimated_bias" />
        <param name="log_filename" value="$(arg log_folder)/vins_bias.csv" />
    </node>
  </group>

</launch>
