<launch>

  <arg name="model" default="$(find odom_publisher)/../../urdf/mig.urdf"/>
  <arg name="rvizconfig" default="$(find odom_publisher)/../../rviz/test_car.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="camera_info_publisher" type="publisher.py" pkg="camera_info_publisher">
    <remap from="/camera_info" to="/sensors/broadrreachcam_front/camera_info" />
    <param name="camera_frame" value="broadrreachcam_front" />
    <param name="camera_info_file" value="$(find odom_publisher)/../../config/camera_calibration/iavcam_front_calibration.yaml" />
  </node>

  <node name="odom_publisher" type="publisher.py" pkg="odom_publisher">
      <remap from="/odom" to="/sensors/applanix/gps_odom" />
  </node>

  <node name="wheel_odom_trajectory_publisher" type="publisher.py" pkg="odom_path_publisher">
      <remap from="/odom" to="/sensors/can_odom" />
      <remap from="/ground_truth_path" to="/ground_truth_wheel_odom_path" />
      <param name="r" value="0.0" />
      <param name="g" value="1.0" />
      <param name="b" value="0.0" />
  </node>
  <node name="gps_odom_trajectory_publisher" type="publisher.py" pkg="odom_path_publisher">
      <remap from="/odom" to="/sensors/applanix/gps_odom" />
      <remap from="/ground_truth_path" to="/ground_truth_gps_odom_path" />
      <param name="r" value="1.0" />
      <param name="g" value="1.0" />
      <param name="b" value="0.0" />
  </node>
  <arg name="config_path" default = "$(find feature_tracker)/../config/fu_berlin/fu_config.yaml" />
	  <arg name="vins_path" default = "$(find feature_tracker)/../config/../" />

  <node name="camera_info_relay" pkg="topic_tools" type="relay" args="/sensors/broadrreachcam_front/camera_info /feature_tracker/camera_info" />
  <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
      <param name="config_file" type="string" value="$(arg config_path)" />
      <param name="vins_folder" type="string" value="$(arg vins_path)" />
  </node>

  <node pkg="rosbag" type="play" name="player" output="screen"
        args="-q $(find odom_publisher)/../../bags/fu_berlin.bag /tf:=/tf_dev_null -r 1.0" />
  <node name="republish_left_image" type="republish" pkg="image_transport" output="screen"
        args="compressed in:=/sensors/broadrreachcam_front/image_compressed raw out:=/sensors/broadrreachcam_front/image" />

</launch>
